#main-container {
    max-height: 80vh;
}

h3 {
    margin-top: 85px;
}

#canvas {
    position: relative;
    background-image: url(/res/desert-cropped-y.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
    z-index: -2;
}

.w3-bar-item {
    width: 14.28% !important;
    background-color: #333e3a !important;
    border: 1px solid #938f83 !important;
}

#button-panel>button:disabled {
    cursor: auto !important;
    pointer-events: none;
}


/* 2. Special Items */

#hammer-item {
    display: none;
    position: absolute;
    font-size: 40px;
}

#ball-item {
    display: none;
    position: absolute;
    font-size: 40px;
}

#mouse-item {
    display: none;
    position: absolute;
    font-size: 40px;
}

#moon-item {
    display: none;
    position: absolute;
    font-size: 40px;
}

#smear-item {
    display: none;
    position: absolute;
    font-size: 40px;
    z-index: -1;
    color: transparent;
    text-shadow: 0 0 0 black;
}

#barrel {
    display: none;
    position: relative;
    top: 62%;
    left: 36%;
    font-size: 100px;
    z-index: -1;
}


/* 2.1 Fade items in and out */

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}


/* 3. ACT */


/* 3.1 Move in a circle */

@keyframes moveCircle {
    0% {
        transform: scale(0.3) translateX(0px) translateY(0px);
    }
    10% {
        transform: scale(0.3) translateX(100px) translateY(-50px);
    }
    20% {
        transform: scale(0.3) translateX(200px) translateY(-200px);
    }
    30% {
        transform: scale(0.3) translateX(300px) translateY(-100px);
    }
    40% {
        transform: scale(0.3) translateX(400px) translateY(-50px);
    }
    50% {
        transform: scale(0.3) translateX(500px) translateY(0px);
    }
    60% {
        transform: scale(0.3) translateX(400px) translateY(50px);
    }
    70% {
        transform: scale(0.3) translateX(300px) translateY(200px);
    }
    80% {
        transform: scale(0.3) translateX(200px) translateY(100px);
    }
    90% {
        transform: scale(0.3) translateX(100px) translateY(50px);
    }
    100% {
        transform: scale(0.3) translateX(0px) translateY(0px);
    }
}


/* 3.2 Speech Bubble: operates, sleep, punish,   */

#talkbubble {
    display: none;
    position: relative;
    top: 44%;
    left: 42%;
    bottom: 10px;
    right: 10px;
    width: 130px;
    height: 64px;
    font-size: 30px;
    text-align: center;
    padding: 10px;
    border-radius: 17px;
    background: white;
    transform: scale(0.9);
}

#talkbubble:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 30%;
    width: 0;
    height: 0;
    border: 36px solid transparent;
    border-top-color: white;
    border-bottom: 0;
    border-left: 0;
    margin-left: -18px;
    margin-bottom: -33px;
    transform: scale(0.9);
}


/* 3.2 Peep Monoton */

@keyframes peepMonoton {
    0% {
        background-color: red
    }
    20% {
        background-color: transparent
    }
    80% {
        background-color: transparent
    }
    100% {
        background-color: red
    }
}

@keyframes peepMonoton1 {
    0% {
        background-color: red
    }
    20% {
        background-color: #404041
    }
    80% {
        background-color: #404041
    }
    100% {
        background-color: red
    }
}


/* 3.3 Peep Irregular */

@keyframes peepIrregular {
    0% {
        background-color: #d0d2d3
    }
    20% {
        background-color: #d0d2d3
    }
    30% {
        background-color: red
    }
    40% {
        background-color: green
    }
    60% {
        background-color: red
    }
    70% {
        background-color: yellow
    }
    80% {
        background-color: #d0d2d3
    }
    100% {
        background-color: #d0d2d3
    }
}


/* also in punished*/

@keyframes shaking {
    0% {
        transform: scale(0.3) rotate(0deg) translateY(0px)
    }
    20% {
        transform: scale(0.3) rotate(0deg) translateY(0px)
    }
    30% {
        transform: scale(0.3) rotate(1deg) translateY(15px)
    }
    40% {
        transform: scale(0.3) rotate(-1deg) translateY(-5px)
    }
    50% {
        transform: scale(0.3) rotate(1deg) translateY(20px)
    }
    60% {
        transform: scale(0.3) rotate(0deg) translateY(0px)
    }
    70% {
        transform: scale(0.3) rotate(1deg) translateY(14px)
    }
    80% {
        transform: scale(0.3) rotate(0deg) translateY(0px)
    }
    100% {
        transform: scale(0.3) rotate(0deg) translateY(0px)
    }
}


/* 3.4 smearMake */

@keyframes smearMake {
    0% {
        transform: scale(0.3) translateX(0px) rotate(0deg);
    }
    30% {
        transform: scale(0.3) translateX(200px) rotate(0deg);
    }
    60% {
        transform: scale(0.3) translateX(200px) rotate(-10deg);
    }
    80% {
        transform: scale(0.3) translateX(100px) rotate(0deg);
    }
    100% {
        transform: scale(0.3) translateX(0px) rotate(0deg);
    }
}


/* 3.5 smearMake */

@keyframes smearRemove {
    0% {
        transform: scale(0.3) translateX(0px) translateY(0px);
    }
    30% {
        transform: scale(0.3) translateX(200px) translateY(0px);
    }
    35% {
        transform: scale(0.3) translateX(210px) translateY(-15px);
    }
    40% {
        transform: scale(0.3) translateX(190px) translateY(15px);
    }
    45% {
        transform: scale(0.3) translateX(210px) translateY(0px);
    }
    47% {
        transform: scale(0.3) translateX(203px) translateY(10px);
    }
    50% {
        transform: scale(0.3) translateX(200px) translateY(20px);
    }
    55% {
        transform: scale(0.3) translateX(200px) translateY(-10px);
    }
    60% {
        transform: scale(0.3) translateX(200px) translateY(0px);
    }
    100% {
        transform: scale(0.3) translateX(0px) translateY(0px);
    }
}


/* 3.6 Wave */

@keyframes arm {
    0% {
        transform: rotate(0deg) translateY(0px) translateX(0px);
    }
    10% {
        transform: rotate(180deg) translateY(0px) translateX(0px);
    }
    20% {
        transform: rotate(170deg) translateY(20px) translateX(-10px);
    }
    30% {
        transform: rotate(190deg) translateY(20px) translateX(10px);
    }
    40% {
        transform: rotate(170deg) translateY(20px) translateX(-10px);
    }
    50% {
        transform: rotate(190deg) translateY(20px) translateX(10px);
    }
    60% {
        transform: rotate(170deg) translateY(20px) translateX(-10px);
    }
    70% {
        transform: rotate(190deg) translateY(20px) translateX(10px);
    }
    80% {
        transform: rotate(170deg) translateY(20px) translateX(-10px);
    }
    90% {
        transform: rotate(180deg) translateY(0px) translateX(0px);
    }
    100% {
        transform: rotate(360deg) translateY(0px) translateX(0px);
    }
}


/* 4. React */


/* 4.1 Charge Bar */


/* 4.2 Fallin */

@keyframes fallin {
    0% {
        top: 0%;
        left: 25%;
    }
    30% {
        top: 62%;
        left: 25%;
    }
    40% {
        top: 62%;
        left: 25%;
    }
    50% {
        top: 62%;
        left: 25%;
    }
    60% {
        top: 62%;
        left: 25%;
    }
}


/* 4.3 Repair */

@keyframes repair {
    0% {
        transform: rotate(0deg) translateY(0px) translateX(0px);
    }
    25% {
        transform: rotate(-15deg) translateY(-2px) translateX(-12px);
    }
    50% {
        transform: rotate(0deg) translateY(0px) translateX(0px);
    }
    85% {
        transform: rotate(-10deg) translateY(-5px) translateX(-15px);
    }
    100% {
        transform: rotate(0deg) translateY(0px) translateX(0px);
    }
}


/* 4.4 Do nothing */

@keyframes moveHead {
    0% {
        transform: rotate(0deg) translateY(0px);
    }
    25% {
        transform: rotate(0deg) translateY(-20px);
    }
    50% {
        transform: rotate(-10deg) translateY(-20px);
    }
    85% {
        transform: rotate(0deg) translateY(-20px);
    }
    100% {
        transform: rotate(0deg) translateY(0px);
    }
}


/* 5.0 Die */

@keyframes fallOver {
    0% {
        transform: scale(0.3) rotate(0deg) translateY(0px);
    }
    40% {
        transform: scale(0.3) rotate(90deg) translateY(0px);
    }
    100% {
        transform: scale(0.3) rotate(90deg) translateY(0px);
    }
}

@keyframes loosePower {
    0% {
        background-color: red;
    }
    100% {
        background-color: #404041;
    }
}


/* charge bar */

#chargeBar {
    width: 120px;
    top: 52%;
    position: relative;
    left: 35.5%;
    display: none;
}

.progress {
    overflow: hidden;
    height: 18px;
    margin-bottom: 18px;
    background-color: #89949B;
    background-image: -moz-linear-gradient(top, #f5f5f5, #f9f9f9);
    background-image: -ms-linear-gradient(top, #f5f5f5, #f9f9f9);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#f9f9f9));
    background-image: -webkit-linear-gradient(top, #f5f5f5, #f9f9f9);
    background-image: -o-linear-gradient(top, #f5f5f5, #f9f9f9);
    background-image: linear-gradient(top, #f5f5f5, #f9f9f9);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#f9f9f9', GradientType=0);
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.progress .bar {
    width: 0%;
    height: 18px;
    color: #ffffff;
    font-size: 12px;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #0e90d2;
    background-image: -moz-linear-gradient(top, #149bdf, #0480be);
    background-image: -ms-linear-gradient(top, #149bdf, #0480be);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#149bdf), to(#0480be));
    background-image: -webkit-linear-gradient(top, #149bdf, #0480be);
    background-image: -o-linear-gradient(top, #149bdf, #0480be);
    background-image: linear-gradient(top, #149bdf, #0480be);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#149bdf', endColorstr='#0480be', GradientType=0);
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: width 0.6s ease;
    -moz-transition: width 0.6s ease;
    -ms-transition: width 0.6s ease;
    -o-transition: width 0.6s ease;
    transition: width 0.6s ease;
}

.progress-striped .bar {
    background-color: #89949B;
    background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
    background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -ms-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    -webkit-background-size: 40px 40px;
    -moz-background-size: 40px 40px;
    -o-background-size: 40px 40px;
    background-size: 40px 40px;
}

.progress.active .bar {
    -webkit-animation: progress-bar-stripes 2s linear infinite;
    -moz-animation: progress-bar-stripes 2s linear infinite;
    animation: progress-bar-stripes 2s linear infinite;
}

.progress-danger .bar {
    background-color: #89949B;
    background-image: -moz-linear-gradient(top, #89949B, #c43c35);
    background-image: -ms-linear-gradient(top, #89949B, #c43c35);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#c43c35));
    background-image: -webkit-linear-gradient(top, #ee5f5b, #c43c35);
    background-image: -o-linear-gradient(top, #89949B, #c43c35);
    background-image: linear-gradient(top, #89949B, #c43c35);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee5f5b', endColorstr='#c43c35', GradientType=0);
}

.progress-danger.progress-striped .bar {
    background-color: #4CAF50;
    background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
    background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -ms-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}

@-webkit-keyframes progress-bar-stripes {
    from {
        background-position: 0 0
    }
    to {
        background-position: 40px 0
    }
}

@-moz-keyframes progress-bar-stripes {
    from {
        background-position: 0 0
    }
    to {
        background-position: 40px 0
    }
}

@keyframes progress-bar-stripes {
    from {
        background-position: 0 0
    }
    to {
        background-position: 40px 0
    }
}