body {
    font-family: 'Lato', sans-serif;
}

.overlay {
    height: 70vh;
    width: inherit;
    position: fixed;
    top: inherit;
    left: inherit;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 60px;
    color: #818181;
    display: block;
    transition: 0.3s;
    position: relative;
    margin: auto;
    width: 50%;
    animation: pulsate 2s ease-out infinite;
}

@keyframes pulsate {
    0% {
        opacity: 0.6;
    }
    50% {
        opacity: 1.0;
    }
    100% {
        opacity: 0.6;
    }
}

@keyframes nopulsation {
    0% {
        opacity: 1.0;
    }
    50% {
        opacity: 1.0;
    }
    100% {
        opacity: 1.0;
    }
}

.overlay a:click {
    color: #f1f1f1;
}

.overlay a:hover,
.overlay a:focus {
    color: #f1f1f1;
    animation: nopulsation 2s infinite;
}

@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px
    }
}