#main-container {
    max-height: 80vh;
}

#canvas {
    position: relative;
    background-image: url(/res/desert-cropped-y.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
    z-index:-2;
}

.w3-bar-item {
    width: 14.28% !important;
    background-color: #333e3a !important;
    border:1px solid #938f83 !important;
}

#ball-item {
    display: none;
    position: absolute;
    font-size: 40px;
}

#smear-item {
    display: none;
    position: absolute;
    font-size: 40px;
    z-index:-1;
}

@keyframes arm {
    0% {
        transform: rotate(0deg) translateY(0px) translateX(0px);
    }
    10% {
        transform: rotate(180deg) translateY(0px) translateX(0px);
    }
    20% {
        transform: rotate(170deg) translateY(20px) translateX(-10px);
    }
    30% {
        transform: rotate(190deg) translateY(20px) translateX(10px);
    }
    40% {
        transform: rotate(170deg) translateY(20px) translateX(-10px);
    }
    50% {
        transform: rotate(190deg) translateY(20px) translateX(10px);
    }
    60% {
        transform: rotate(170deg) translateY(20px) translateX(-10px);
    }
    70% {
        transform: rotate(190deg) translateY(20px) translateX(10px);
    }
    80% {
        transform: rotate(170deg) translateY(20px) translateX(-10px);
    }
    90% {
        transform: rotate(180deg) translateY(0px) translateX(0px);
    }
    100% {
        transform: rotate(360deg) translateY(0px) translateX(0px);
    }
}

@keyframes peepMonoton {
    0% {
        background-color: red
    }
    20% {
        background-color: transparent
    }
    80% {
        background-color: transparent
    }
    100% {
        background-color: red
    }
}

@keyframes peepMonoton1 {
    0% {
        background-color: red
    }
    20% {
        background-color: #404041
    }
    80% {
        background-color: #404041
    }
    100% {
        background-color: red
    }
}

@keyframes peepIrregular {
    0% {
        background-color: #d0d2d3
    }
    20% {
        background-color: #d0d2d3
    }
    30% {
        background-color: red
    }
    40% {
        background-color: green
    }
    60% {
        background-color: red
    }
    70% {
        background-color: yellow
    }
    80% {
        background-color: #d0d2d3
    }
    100% {
        background-color: #d0d2d3
    }
}

@keyframes shaking {
    0% {
        transform: scale(0.3) rotate(0deg) translateY(0px)
    }
    20% {
        transform: scale(0.3) rotate(0deg) translateY(0px)
    }
    30% {
        transform: scale(0.3) rotate(1deg) translateY(15px)
    }
    40% {
        transform: scale(0.3) rotate(-1deg) translateY(-5px)
    }
    50% {
        transform: scale(0.3) rotate(1deg) translateY(20px)
    }
    60% {
        transform: scale(0.3) rotate(0deg) translateY(0px)
    }
    70% {
        transform: scale(0.3) rotate(1deg) translateY(14px)
    }
    80% {
        transform: scale(0.3) rotate(0deg) translateY(0px)
    }
    100% {
        transform: scale(0.3) rotate(0deg) translateY(0px)
    }
}


@keyframes moveCircle {
    0% {
        transform: scale(0.3) translateX(0px) translateY(0px);
    }
    10% {
        transform: scale(0.3) translateX(100px) translateY(-50px);
    }
    20% {
        transform: scale(0.3) translateX(200px) translateY(-200px);
    }
    30% {
        transform: scale(0.3) translateX(300px) translateY(-100px);
    }
    40% {
        transform: scale(0.3) translateX(400px) translateY(-50px);
    }
    50% {
        transform: scale(0.3) translateX(500px) translateY(0px);
    }
    60% {
        transform: scale(0.3) translateX(400px) translateY(50px);
    }
    70% {
        transform: scale(0.3) translateX(300px) translateY(200px);
    }
    80% {
        transform: scale(0.3) translateX(200px) translateY(100px);
    }
    90% {
        transform: scale(0.3) translateX(100px) translateY(50px);
    }
    100% {
        transform: scale(0.3) translateX(0px) translateY(0px);
    }

}

@keyframes smearMake {
    0% {
        transform: scale(0.3) translateX(0px) rotate(0deg);
    }
    30% {
        transform: scale(0.3) translateX(200px) rotate(0deg);
    }
    60% {
        transform: scale(0.3) translateX(200px) rotate(-10deg);
    }
    80% {
        transform: scale(0.3) translateX(100px) rotate(0deg);
    }
    100% {
        transform: scale(0.3) translateX(0px) rotate(0deg);
    }
}

@keyframes smearRemove {
    0% {
        transform: scale(0.3) translateX(0px) translateY(0px);
    }
    30% {
        transform: scale(0.3) translateX(200px) translateY(0px);
    }
    35% {
        transform: scale(0.3) translateX(210px) translateY(-15px);
    }
    40% {
        transform: scale(0.3) translateX(190px) translateY(15px);
    }
    45% {
        transform: scale(0.3) translateX(210px) translateY(0px);
    }
    47% {
        transform: scale(0.3) translateX(203px) translateY(10px);
    }
    50% {
        transform: scale(0.3) translateX(200px) translateY(20px);
    }
    55% {
        transform: scale(0.3) translateX(200px) translateY(-10px);
    }
    60% {
        transform: scale(0.3) translateX(200px) translateY(0px);
    }
    100% {
        transform: scale(0.3) translateX(0px) translateY(0px);
    }
}

/* 
#r2d2 {
	animation: moveCircle 2s 1 linear;
} */

#talkbubble {
    display: none;
    position: relative;
    width: 65px;
    height: 64px;
    padding: 10px;
    border-radius: 17px;
    background: white;
    top: 48%;
    left: 41%;
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 130px;
    font-size: 30px;
    text-align: center;
    transform: scale(0.9);
}

#talkbubble:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 30%;
    width: 0;
    height: 0;
    border: 36px solid transparent;
    border-top-color: white;
    border-bottom: 0;
    border-left: 0;
    margin-left: -18px;
    margin-bottom: -33px;
    transform: scale(0.9);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}