#main-container {
    max-height: 80vh;
}

#canvas {
    position: relative;
    background-image: url(/res/desert-279862_1920.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
}

.w3-bar-item {
    width: 14.28% !important;
}

#ball-item {
    display: none;
}
